
$color: #8DC0A2;

$color-white: #fff;

$color-text: #777777;

$maxpw:800px;

$font-size: 1.4rem;
$font-size-small: 1.2rem;

$radius: 5px;

$last-time: 0.5s;
$delay-time:0.1s;

$primary-font: Helvetica, sans-serif;
$secondary-font: Georgia, serif;