{extend name="base:base" /}
{block name="style"}
<style>
    .input-label{
        width:500px;
    }
    .zyupload {
        margin:0;
    }
    #zyupload{
        /*min-height: 1px;height: 1px;*/
    }

    .upload_preview {
        width: 657px;
    }
</style>
{/block}
{block name="content"}
<div class="page-content" id="addCar">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">控制面板</a>
            </li>
            <li>
                <a href="#">车辆管理</a>
            </li>
            <li class="active">车辆添加</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                车辆添加
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget flat radius-bordered">
                    <div class="widget-header bordered-bottom bordered-themeprimary">
                        <span class="widget-caption">车辆添加</span>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                        <validator name="addCarValidation">
                            <form class="form-horizontal" role="form" novalidate>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">车品牌</label>
                                    <div class="col-sm-10">
                                        <select id="e1" name="bid" class="input-label" v-model="car.bid" v-validate:bid="{ required: true}">
                                                <option value="" />请选择品牌
                                                {volist name="brand" id="vo"}
                                                <option value="{$vo.id}" {if condition="$vo.id eq $car.bid"}selected="true"{/if}/>{$vo.name}
                                                {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">车主姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-label" name="name" placeholder="车主姓名" v-validate:name="{ required: true}" v-model="car.name" value="{$car.name}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">车主电话</label>
                                    <div class="col-sm-10">
                                        <input type="tel" class="form-control input-label" name="phone" placeholder="车主电话" v-validate:phone="{ required: true,minlength:11,maxlength:11}" v-model="car.phone" value="{$car.phone}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">出发时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="datebut" class="form-control input-label" name="go_time"placeholder="出发时间" onClick="jeDate({dateCell:'#datebut',isTime:true,format:'YYYY-MM-DD hh:mm'})" readonly value="{$car.go_time}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">车牌号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-label" name="number'" placeholder="车牌号" v-validate:number="{ required: true,minlength:7,maxlength:7}" v-model="car.number" value="{$car.number}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">车型</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-label" name="type" placeholder="车型" v-validate:type="{ required: true}" v-model="car.type" value="{$car.type}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">车颜色</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-label" name="color" placeholder="车颜色" v-validate:color="{ required: true}" v-model="car.color" value="{$car.color}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">行程</label>
                                    <div class="col-sm-10">
                                        <select style="width: 248px" id="e1" name="from" class="input-label" v-model="car.from" v-validate:from="{ required: true}">
                                                <option value=""/>请选择出发城市
                                                {volist name="city" id="vo"}
                                                <option value="{$vo.id}" {if condition="$vo.id eq $car.from"}selected="true"{/if}/>{$vo.name}
                                                {/volist}
                                        </select>
                                        <select style="width: 248px" id="e1" name="to" class="input-label" v-model="car.to" v-validate:to="{ required: true}">
                                                <option value="" />请选择到达城市
                                                {volist name="city" id="vo"}
                                                <option value="{$vo.id}" {if condition="$vo.id eq $car.to"}selected="true"{/if}/>{$vo.name}
                                                {/volist}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input" class="col-sm-2 control-label no-padding-right">车辆图片上传</label>
                                    <div class="col-sm-10">
                                        <div style="width:1024px">
                                        {include file="upload/upload" /}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button @click="addCar()"   :disabled="$addCarValidation.invalid" type="button" class="btn btn-blue">保 存</button>
                                    </div>
                                </div>
                            </form>
                            </validator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/static/js/jeDate/jedate.js"></script>
    <script>
    $(function(argument) {
    var vn = new Vue({
        el: '#addCar',
        data: {
            car: {id:'{$car.id}'},
            img:[],
            thumb:[],
            config:[],
            imgs:{$car.gallery}
        },
        created: function () {
            this.imgData(this.imgs);
        },
        methods: {
            imgData:function(data){
                for (var i = 0; i < data.length; i++) {
                    this.img.push(data[i].gallery);
                    this.thumb.push("<img style='height:160px' src='"+data[i].gallery+"'>");
                    this.config.push({caption: "", url: "/admin/upload/delete", key: i})
                }
            },
            addCar: function () {
                this.car.go_time = $("#datebut").val();
                this.car.thumb = this.img;
                $.ajax({
                    type: "POST",
                    url: '{:url("admin/car/edit")}',
                    dataType: 'json',
                    cache: false,
                    data: this.car,
                    success: function(data) {
                        console.log(data);
                        if(data.status>0){
                           window.success({msg:'添加成功',url:"{:url('admin/car/index')}"});
                        }else{
                           window.error({msg:data.msg});
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('系统错误');
                    }
                });
            }
        }
    })
    $("#upload-input").fileinput({
            maxFileCount: 4, //表示允许同时上传的最大文件个数
            // allowedFileExtensions: ["jpg", "png", "gif"],
            uploadUrl: "/admin/upload/upload/id/car.html",
            // your upload server url
            // overwriteInitial:false,
            language: 'zh',
            // enctype: 'multipart/form-data',
            uploadAsync: false,
            overwriteInitial: false,
            // showPreview: false,
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            // uploadAsync:false,
            uploadExtraData: {
                img_key: "1000",
                img_keywords: "happy, nature",
            },
            initialPreview: vn.thumb,
            initialPreviewConfig: vn.config,
        }).on('filebatchuploadsuccess', function(event, data) {
            response = data.response;
            $.each(data.files, function(key, file) {
                var fname = response[key].file;
                vn.img.push(fname);
                // vn.thumb.push("<img style='height:160px' src='"+fname+"'>");
                // vn.config.push({caption: "", url: "/admin/upload/delete", key: ((i++)-1)})
            });
        }).on("filedeleted", function(jqXHR, key) {
            var abort = true;
            if (confirm("是否删除车辆图片")) {
                abort = false;
                vn.img.splice(key,1);
                vn.thumb.splice(key,1);
                vn.config.splice(key,1);
            }
            return abort;
        });
    });
    </script>
{/block}